<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bootstrap demo</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body>
  <nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" style="color:white;">TextAnalyzer</a>
    </div>
  </nav>
  <h2>
    <p class="text-center">Analyzed text</p>
  </h2>
  <p class="text-center">
    <strong>
      <pre>{{analyzed_text}}</pre>
    </strong><br><br>
    Char Count: {{Char_count}}<br><br>
  </p>
</body>

</html>